/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-white-80: #ffffffcc;
    --color-white-50: #ffffff88;
    --color-white-36: #ffffff5c;
    --color-white-25: #FFFFFF40;
    --color-white-20: #ffffff33;
    --color-light: #fafafa;
    --color-gray: #7d7d7d;
    --color-dark-600: #292929;
    --color-dark-700: #151515;
    --color-dark-800: #1c1c1c;
    --color-dark-900: #101111;
    --color-dark-950: #1e1e1e00;
    --color-blue: #7a87fb;
    --color-blue-0: #7d7afb00;
    --color-skin: #ffd49c;

    /* Font Sizes */
    --fs-3xl: 2.5rem; /*40px*/
    --fs-2xl: 2.25rem; /*36px*/
	--fs-xl: 2rem; /*32px*/
    --fs-lg: 1.5rem; /*24px*/
    --fs-md: 1.375rem; /*22px*/
    --fs-sm: 1.1875rem; /*19px*/
    --fs-xs: 1.125rem; /*18px*/
    --fs-2xs: 1rem; /*16px*/
    --fs-3xs: 0.875rem; /*14px*/
    --fs-4xs: 00.75rem; /*12px*/

    /* Font Weights */
    --fw-bold: 700;
    --fw-semibold: 500;
    --fw-normal: 400;
}

body {
    background-color: var(--color-dark-900);
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-2xs);
	font-weight: var(--fw-normal);
    line-height: 1.6;
}
