/* Font Sizes */
.fs-xxl {
    font-size: var(--fs-xxl);
}
.fs-xl {
    font-size: var(--fs-xl);
}
.fs-lg {
    font-size: var(--fs-lg);
}
.fs-md {
    font-size: var(--fs-md);
}
.fs-sm {
    font-size: var(--fs-sm);
}
.fs-xs {
    font-size: var(--fs-xs);
}
.fs-2xs {
    font-size: var(--fs-2xs);
}
.fs-3xs {
    font-size: var(--fs-3xs);
}
.fs-4xs {
    font-size: var(--fs-4xs);
}

/* Font Weights */
.fw-semibold {
    font-weight: var(--fw-semibold);
}
.fw-normal {
    font-weight: var(--fw-normal);
}

/* Colors */
.text-black {
    color: var(--color-black);
}
.text-white {
    color: var(--color-white);
}
.text-blue {
    color: var(--color-blue);
}
.bg-dark-700 {
    background-color: var(--color-dark-700);
}

/* Layout */
.container {
    width: 100%;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.my-3 {
    margin-block: 3rem;
}

.gap-12 {
    gap: 12px;
}

/* flex */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

/* border */
.rounded-full {
    border-radius: 100%;
}

/* padding */
.p-18 {
    padding: 18px;
}
.p-15 {
    padding: 15px;
}

.p-1 {
    padding: 1px;
}

.p-1_5 {
    padding: 1.5px;
}

.p-10_25 {
    padding: 10px 25px;
}
